.btn-google {
  background-color: #4285f4;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-google img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.btn-google:hover {
  background-color: #3367d6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-google:active {
  background-color: #4285f4;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
